{
    "extends": "airbnb-base",
    "rules": {
        "no-underscore-dangle": ["error", { "allow": ["_id"] }],
        "quotes": ["error", "double"],
        "indent": ["error", 4],
        "arrow-parens": ["error", "as-needed"]
    }
}
